<html id="aboutuspage">
  <head>
    <title>KitchenFridge - Create a Fridge</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="bigaboutdiv">
      <a href="/"><img src="/styles/logo.png" id="fridgehomelogo"></a>
      <div id="candace">
        <div class="leftpic">
          <h2>Candace W</h2>
          <img class="profpic" src="/styles/candace.jpg">
        </div>
        <div class="rightbio">
          <p>
            BIO: My name is Candance. I will be attending the College of William and Mary and the University of St. Andrews
            to do their joint degree program. My plan is to pursue an English major, but I really
            enjoy computer science. My favorite thing to do in my free time is bust out my sick dance moves. I'm passionate
            about English, Philosophy, History, and all things Humanities! I love to eat! My experience at Google
            CSSI has been amazing and I have really enjoyed my time at Google - Cambridge.
          </p>
        </div>
      </div>
      <div id="geronimo">
        <div class="leftpic">
          <h2>Geronimo L</h2>
          <img class="profpic" src="/styles/geronimo.jpg">
        </div>
        <div class="rightbio">
          <p>
            BIO: My name is Geronimo. I am from Little Rock, Arkansas. I will
            be attending the University of Texas at Dallas, where I plan to study computer science.
            As for my interests, I enjoy playing video games, watching anime, reading history,
            listening to music, and writing. I also love learning languages, both code and otherwise,
            so I hope to learn all I can in the future.
          </p>
        </div>
      </div>
      <div id="carly">
        <div class="leftpic">
          <h2>Carly K</h2>
          <img class="profpic" src="/styles/carly.jpg">
        </div>
        <div class="rightbio">
          <p>
            BIO: My name is Carly. I am attending the University of Wisconsin - Madison next year for computer engineering
            and Computer Science. I have been dancing since I was 4 and may continue to do so in college.  I really enjoy
             reading but I can spend hours watching TV and Netflix. I love being outdoors when it is warm and sunny,
             especially since Wisconsin doesn't see much of it. I love watching football and am a huge Green Bay Packers fan.
             I am very thankful for this experience at Google and it has assured me of my choice to purse my path in the tech
             field.
        </div>
      </div>
    </div>
  </body>
</html>
