<html id="delete">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="fridgedeletediv">
      <a href="/"><img src="/styles/logo.png" id="fridgehomelogo"></a>
      <div id=postdeleter>
        <h1 id="postdeleted">POST DELETED!</h1>
        <p>You just deleted your post! (If you didn't mean to, don't fret! You can just add another post in your fridge page) To return to your fridge page please click the button below!</p>
        <form method="get" action="/Fridge">
          <button type="submit" name="fridge" value={{fridge_id}}>TAKE ME BACK TO MY FRIDGE!</button>
        </form>
      </div>
    </div>
  </body>
</html>
