<html>
  <head>
    <title>KitchenFridge - FamilyID</title>
  </head>
  <body>
    <!-- This p will display the fridge FamilyID from the FamilyID handler in main.py -->
    <h1>{{Family_ID}}</h1>
    <br>
    <br>
    <h2>Share this ID to let others join your fridge!</h2>
    <br>
    <br>
    <!-- below are two different forms. The first redirects to login. Second redirects to New User -->
    <form action="/FamilyID" method="get">
      <button type="submit" name="Family_ID" value="{{Family_ID}}">Proceed to Your Fridges</button>
    </form>


  </body>
</html>
