<html>
  <head>
    <title>KitchenFridge - FamilyID</title>
  </head>
  <body>
    <!-- This p will display the fridge FamilyID from the FamilyID handler in main.py -->
    <h1>{{Family_ID}}</h1>
    <br>
    <br>
    <h2>Please copy the above ID. You will need it later.</h2>
    <br>
    <br>
    <!-- below are two different forms. The first redirects to login. Second redirects to New User -->
    <form action="TBD" method="get">
      <input type="submit" value="Existing User">
    </form>
    <form action="/newUser" method="get">
      <input type="submit" value="New User">
    </form>

  </body>
</html>
