<html id="delete">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="fridgedeletediv">
      <a href="/"><img src="/styles/logo.png" id="fridgehomelogo"></a>
      <div id=postdeleter>
        <h1 class="special">FRIDGE REMOVED!</h1>
        <p>You have just removed this fridge from your fridge list. You can rejoin if you obtain the Fridge ID from a member still in the fridge. To return to your fridge navigation page, please click the button below.</p>
        <form method="get" action="/fridgeHome">

          <button type="submit" name="fridge" value="{{fridge_id}}">SHOW ME MY FRIDGES!</button>

        </form>
      </div>
    </div>
  </body>
</html>
