<html id="fridgehome">
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="fridgehomediv">
      <img src="/styles/logo.png" id="fridgehomelogo">
      <div id="pickfridge">
        <h2> User's Fridges Go Here </h2>
        
        <form method="get" action="/newFridge">
            <input type="submit" value="New Fridge">
        </form>

        <form method="post" action="/fridgeHome">
          Add a fridge: <input type="text" name="join_fridge">
          <input type="submit" value="Join Fridge">
        </form>

        <ul>
          {% for fridge in fridges_list:%}
              <li><a href="/Fridge?fridge={{fridge}}">{{fridge}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
