{% autoescape true %}
<html id="fridge">
  <head>
      <title>KitchenFridge</title>
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
      <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="post_body" style="position: absolute; width: 70%; left: 15%; top: 12%; text-align: center; min-height: 80%;">
      <h1 id="fridge_name">{{fridge_name}}</h1>

        {% for post in fridgeposts:%}
          <div id="postit">

            {{post}}

            <form method="get" action="/deletePost">
              <button name="post" type="submit" value="{{post}}">Delete</button>
              <input type="hidden" name="current_fridge" value={{current_fridge}}>
            </form>
          </div>
        {% endfor %}

        {% for post in imageposts:%}
          <div id="postit_image">

            <img id="image_post" src="{{post}}">

            <form method="post" action="/deletePost">
              <button name="post" type="submit" value="{{post}}">Delete</button>
              <input type="hidden" name="current_fridge" value={{current_fridge}}>
            </form>
          </div>
        {% endfor %}

        {% for post in listposts:%}
          <div id="postit_image">

            <img id="image_post" src="{{post}}">

            <form method="post" action="/deletePost">
              <button name="post" type="submit" value="{{post}}">Delete</button>
              <input type="hidden" name="current_fridge" value={{current_fridge}}>
            </form>
          </div>
        {% endfor %}


    </div>
      <div id="side_menu" style="position: absolute; width: 15%; float: left;">

        <form method="get" action="/fridgeHome">
          <input type="submit" value="Back to Navigation Page">
        </form>

        <form method="post" action="/Fridge">
          <input type="text" name="post">
          <input type="submit" value="Post Note!">
        </form>

        <form method="post" action="/imageHandler">
          <input type="url" name="post">
          <input type="submit" value="Post Image!">
          <input type="hidden" name="current_fridge" value="{{current_fridge}}">
        </form>
      </div>
      <h2 id="fridge_code">Fridge ID: {{current_fridge}}</h2>
      <form method="post" action="/removeFridge">
        <button id="remove_fridge" type="submit" value="{{current_fridge}}" name="current_fridge">REMOVE FRIDGE</button>
      </form>
  </body>
</html>
{% endautoescape %}
