{% autoescape true %}
<html id="fridge">
  <head>
      <title>KitchenFridge</title>
      <link rel="stylesheet" type="text/css" href="/styles/style.css">
      <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="post_body" style="position: absolute; width: 70%; left: 15%; top: 12%; text-align: center; min-height: 80%;">
      <h2>Welcome</h2>
        {% for post in fridgeposts:%}
          <div id="postit">
            {{post}}
          </div>
        {% endfor %}

    </div>
      <div id="side_menu" style="position: absolute; width: 15%; float: left;">
        <form method="get" action="/fridgeHome">
          <input type="submit" value="Back to Navigation Page">
        </form>
        <form method="post">
          <input type="text" name="post">
          <input type="submit" value="Post it!">
        </form>
      </div>
  </body>
</html>
{% endautoescape %}
