<html>
  <head>
    <title>KitchenFridge Login</title>
  </head>
  <body>
      <!-- This form accepts the username and password and posts the information to the MainHandler. We could use a login handler later if we wanted to. -->
      <form method="post">
        First Name: <input type="text" name="user_id">
        <br>
        <br>
        Last Name: <input type="text" name="user_pass">
        <br>
        <br>
        Fridge Key: <input type="text" name="fridge_key">
        <br>
        <br>
        <input type="submit" value="Login">
      </form>
  </body>
</html>
