<html id="welcomepage">
  <head>
    <title>KitchenFridge - Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <img src="/styles/logo.png" id="homelogopic">
    <div id="big">
      <div id="left">
        <h1>SIGN IN</h1>
        <br>
        <form method="get" action="/fridgeHome">
          <input type = "submit" value="CONTINUE TO YOUR FRIDGES">
        </form>
        <br>
      </div>
      <div id="right">
        <h2>WELCOME TO KITCHEN FRIDGE</h2>
        <p>
          Kitchen Fridge is a new platform for families to connect on the go.
          Take all the important things hung on the kitchen fridge with you.
        </p>
        <a href="/AboutUs"><h2>ABOUT US</h2></a>
        <p>
          This web application was created as a final project for Google's Computer Science Summer Institute (CSSI).
          If you would like to learn more about CSSI or how to apply please click the lightbulb image below.
          <a href="https://www.google.com/edu/resources/programs/computer-science-summer-institute-cssi/"><img id="lightbulb" src="/styles/cssilogo.png"></a>
        </p>
      </div>
    </div>
  </body>
</html>
