#welcomepage {
  background-image: url(/styles/betterkitchen.jpg);
  background-repeat: no-repeat center center fixed;
  background-size: cover;
}

#big{
  width: 100%;
  position: absolute;
  top: 20%;
  bottom: 30%;
  background-color: #F05C0C;
  opacity: 0.7;
}

#left{
  position: absolute;
  left: 5%;
  width: 19%;
  background-color: white;
  opacity: 0.95;
  top: 10%;
  padding: 1.5%;
  min-height: 60%;
}

#right{
  position: absolute;
  right: 5%;
  width: 60%;
  background-color: white;
  opacity: 0.95;
  top: 10%;
  padding: 1.5%;
  min-height: 60%;
}

#post_body{
  font-family: 'Open Sans Condensed', sans-serif;
}

#fridge{
  background-image: url(/styles/betterfridge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#fridgehome{
  background-image: url(/styles/orange1.jpg);
  opacity: 0.8;
}

#delete{
  background-image: url(/styles/orange1.jpg);
  opacity: 0.8;
}

#newfridge{
  background-image: url(/styles/grey.jpg);
  opacity: 0.8;
}

#familyid{
  background-image: url(/styles/grey.jpg);
  opacity: 0.8;
}

#aboutuspage{
  background-image: url(/styles/grey.jpg);
  opacity: 0.8;
}

#thankyou{
  background-image: url(/styles/grey.jpg);
  opacity: 0.8;
}

#homelogopic{
  position: absolute;
  width: 12%;
  left: 45%;
}

#fridgehomelogo{
  position: relative;
  width: 15%;
  left: 41%;
  padding: 1.5%;
}

#fridgehomediv{
  position: absolute;
  width: 80%;
  left: 10%;
  background-color: #C4BFBC;
  opacity: 0.9;
  min-height: 80%;
}

#fridgedeletediv{
  position: absolute;
  width: 80%;
  left: 10%;
  background-color: #C4BFBC;
  opacity: 0.9;
  min-height: 80%;
}

#bignewfridge{
  position: absolute;
  width: 80%;
  left: 10%;
  background-color: #E8854F;
  opacity: 0.9;
  min-height: 80%;
}

#bigfamilyid{
  position: absolute;
  width: 80%;
  left: 10%;
  background-color: #E8854F;
  opacity: 0.9;
  min-height: 80%;
}

#bigthankyou{
  position: absolute;
  width: 80%;
  left: 10%;
  background-color: #E8854F;
  opacity: 0.9;
  min-height: 80%;
}

#makenewfridge{
  position: relative;
  width: 70%;
  left: 15%;
  background-color: white;
  text-align: center;
  min-height: 80%;
}

#saythankyou{
  position: relative;
  width: 70%;
  left: 15%;
  background-color: white;
  text-align: center;
  min-height: 80%;
}

#getnewidbox{
  position: relative;
  width: 70%;
  left: 15%;
  background-color: white;
  text-align: center;
  min-height: 80%;
}

#pickfridge{
  position: relative;
  width: 70%;
  left: 15%;
  background-color: white;
  text-align: center;
  min-height: 80%;
}

#postdeleter{
  position: relative;
  width: 70%;
  left: 10%;
  background-color: white;
  text-align: center;
  min-height: 80%;
  padding: 5%;
}

#newfridgepar{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: black;
}

#thankyoupar{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: black;
}

.navpar{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: black;
}

#therealid{
  background-color: #F05C0C;
}

.headers{
  background-color: #F05C0C;
}

#postit{
  background-image: url(/styles/orangepaper.jpeg);
  position: relative;
  min-height: 10%;
  width: 20%;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: black;
  padding: 5%;
  padding-left: 2%;
  padding-right: 3%;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin: 25px;
}


#postit_image{
  display: inline-block;
  background-image: url(/styles/orangepaper.jpeg);
  position: relative;
  min-width: 20%;
  max-width: 30%;
  min-height: 10%;
  width: auto;
  height: auto;
  padding: 1%;
  margin: 2%;
}

#postit_image img{
  width: 100%;
  height: auto;
}


#lightbulb{
  position: absolute;
  width: 2%;
}

#postdeleted{
  font-family: 'Oswald', sans-serif;
  background-color: #F05C0C;
}

.profpic{
  width: 100%;
  vertical-align: middle;
}

.leftpic{
  display: inline-block;
  position: relative;
  width: 20%;
  margin-bottom: 2em;



}

.rightbio{
  display: inline-block;
  position: relative;
  background-color: #C4BFBC;
  width: 49%;
  padding: 2%;
  left: 15%;
  vertical-align: middle;

}

#candace{
  position: relative;
  min-height: 20%;
  background-color: white;
  opacity: 0.9;
}

#carly{
  position: relative;
  min-height: 20%;
  background-color: white;
  opacity: 0.9;
}

#geronimo{
  position: relative;
  min-height: 20%;
}

#bigaboutdiv{
  position: absolute;
  width: 70%;
  left: 15%;
  background-color: #E8854F;
  opacity: .9;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: black;
}

h3{
  font-family: 'Oswald', sans-serif;
}

h2{
  font-family: 'Oswald', sans-serif;
}

h1{
  font-family: 'Oswald', sans-serif;
}

#fridge_code{
  position: fixed;;
  bottom: 4%;
  right: 2%;
  color: darkorange;
  z-index: 1000;
}

#side_menu{
  position: fixed;
  width: 15%;
  min-height: 80%;
  height: auto;
}
#side_menu input{
  position: relative;
  width: 100%;
  height: 50px;
}
#remove_fridge{
  position: fixed;
  bottom: 3%;
  right: 3%;
}
