#welcomepage {
  background-image: url(/styles/betterkitchen.jpg);
  background-repeat: no-repeat center center fixed;
  background-size: cover;
}

#big{
  width: 100%;
  position: absolute;
  top: 20%;
  bottom: 30%;
  background-color: #F05C0C;
  opacity: 0.7;
}

#left{
  position: absolute;
  left: 5%;
  width: 19%;
  background-color: grey;
  opacity: 0.9;
  top: 10%;
  padding: 1.5%;
}

#right{
  position: absolute;
  right: 5%;
  width: 60%;
  background-color: grey;
  opacity: 0.9;
  top: 10%;
  padding: 1.5%;
}

#post_body{
  font-family: 'Open Sans Condensed', sans-serif;
}

#fridge{
  background-image: url(/styles/betterfridge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#fridgehome{
  background-image: url(/styles/orange1.jpg);
  opacity: 0.8;
}

#homelogopic{
  position: absolute;
  width: 12%;
  left: 45%;
}

#fridgehomelogo{
  position: relative;
  width: 15%;
  left: 41%;
  padding: 1.5%;
}

#fridgehomediv{
  position: absolute;
  width: 80%;
  left: 10%;
  background-color: #C4BFBC;
  opacity: 0.9;
}

#pickfridge{
  position: relative;
  width: 70%;
  left: 15%;
  background-color: white;
  text-align: center;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: white;
}

h2{
  font-family: 'Oswald', sans-serif;
}

h1{
  font-family: 'Oswald', sans-serif;
}
